body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

header {
  background: black;
  padding: 20px;
}

.rating {
  color: gold;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 60vh;
  background: url("images/exterior.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
}

.hero h2 {
  font-size: 32px;
}

/* GALLERY */
.gallery {
  padding: 40px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 260px;
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card p {
  padding: 10px;
}

/* MENU */
.menu {
  background: #1a1a1a;
  padding: 40px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

/* REVIEWS */
.reviews {
  padding: 40px;
}

.review-box {
  background: #1c1c1c;
  margin: 10px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  padding: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: gold;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: black;
  padding: 15px;
}